.heading{
    font-family: 'Inter' , sans-serif;
    font-size: medium;
    font-weight: 550;
    display:flex;
    align-items: center;

}
#bold{
    font-size:large;
}
.material-icons{
    color: rgb(9, 191, 9);
    font-size:36px;

}
#displayform{
    width:500px;
    height:500px;
    border:1px solid rgb(128, 128, 128);
    text-align: left;
    padding:20px;
    display:block;

}
.buttons{
    text-align:center;
    background-color: rgba(0, 0, 255, 0.752);
}