<div class="sidebar">

    <!-- <h2>Home</h2>
    <h2>My Tasks</h2> -->
    <!-- <div id="help"> -->
        <!-- <h2 id="help">Help</h2> -->
    <!-- </div> -->
    <div id="home" routerLink="/">
        <p class="icons"><i class="fa fa-home" style="font-size:18px; padding-right: 5px;"></i></p>
        <p class="title"> Home</p>
    </div>

    <div id="mytasks" routerLink="/mytasks">
        <p class="icons"><i class='fa fa-gear' style="font-size:18px;padding-right: 5px;"></i></p>
        <p class="title">My Tasks</p>
    </div>

    <div id="help">
        <p class="icons"><i class='fa fa-question-circle' style="font-size:18px;padding-right: 5px;" ></i></p>
        <p class="title">Help</p>
    </div>

</div>