<div class="tasktitem">
    <div class="first">
        <div id="icon" class="bottomdown">
            <span class="material-icons">check_circle_outline</span>
    
        </div>
    </div>
    <div class="second">
    <div id="title" class="uptop">
        <p>{{tempTask.title}}</p>
    </div>
    <div id="description" class="bottomdown">
        <p>{{tempTask.description}}</p>
    </div>
</div>
<div class="third">
    <div id="date" class="uptop">
        <p>{{tempTask.date}}</p>
    </div>
    <div id="arrow" class="bottomdown">
        <span class="material-icons">arrow_upward</span>
    </div>
</div>


</div>
